@model MujZavod.Admin.Models.Race.RaceDetailModel

@{

    ViewBag.Title = "Detail závodu - " + Model.RaceViewModel.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="raceHead">
    @Html.Partial("Head", Model.RaceViewModel)
</div>


<div id="raceCategories">
    @Html.Partial("Category/Categories", Model.RaceCategoriesViewModel)
</div>