
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    Portál pro správu sportoních závodů.
</div>

<a class="btn btn-success" href="/Account/Register">Registovat jako závodník</a>
<a class="btn btn-success" href="/Organizer/Register">Registovat jako pořadatel</a>
<a class="btn btn-success" href="/Account/Login">Přihlásit</a>