@{
    ViewBag.Title = "Zapomenuté heslo";
    Layout = "/Views/Shared/_LayoutPresentation.cshtml";
}


<div class="panel p-a-4">
    <div class="mar-ver pad-btm">
        <h3 class="h4 mar-no">Změna hesla</h3>
        <p>Na emailovou adresu Vám byl odeslán odkaz pro změnu hesla.</p>
    </div>

</div>
