@{
    ViewBag.Title = "Zapomenuté heslo";
    Layout = "/Views/Shared/_LayoutPresentation.cshtml";
}


<div class="panel p-a-4">
    <div class="mar-ver pad-btm">
        <h3 class="h4 mar-no">Heslo úspěšně změněno</h3>
        <p class="text-muted">Nyní se můžete přihlásit @Html.ActionLink("zde", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    </div>

</div>