
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutIframe</title>

    @Scripts.Render("~/Scripts/MujZavod/js")
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
