@model MujZavod.Admin.Models.RaceRegistration.RaceRegistrationViewModel


<ul class="nav nav-tabs tab-resize-nav nav-xs" id="tab-resize-tabs">
    @foreach (var category in Model.Categories)
    {
        <li class="@(category.Id == Model.Categories[0].Id ? "active" : "")"><a data-toggle="tab" href="#category-tab-@(category.Id)">@category.Name</a></li>
    }
</ul>
<div id="divRaceCategoryContent" class="tab-content">
    @foreach (var category in Model.Categories)
    {
        <div class="tab-pane @(category.Id == Model.Categories[0].Id ? "active" : "")" id="category-tab-@(category.Id)">
            @Html.Partial("/Views/RaceRegistration/RaceCategory.cshtml", category)
        </div>
    }
</div>